.container-fluid{
    width: 50%;
}
/* #header {
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);

  } */

/* ===== Navigation Bar ===== */

header {
  background: rgba(0, 0, 0, 0.5);
}
nav{
    background-color: rgba(11,12,16,0);
    height: 70px;
}
.nav-link{
    color: rgb(250, 220, 150);
}

.nav-link:hover{
    color: white;
}

.nav-link ul li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-link a, .home a {
  display: block;
  position: relative;
  color: green;
  transition: 0.3s;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-link a:hover, .nav-link .active > a, .nav-link li:hover > a, .home a:hover {
  color: rgb(250, 220, 150);
  text-decoration: none;
}

/* ===== Navigation Bar ===== */



/* ===== Hero Section ===== */

#hero{
    background: url(./images/Hero_Image_1.jpg);
    opacity: 0.90;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}


/* ===== About Me Section ===== */



/* ===== Skills Section ===== */

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress span {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  color: black;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(11,12,16,1);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: rgb(250, 220, 150);
}

/* ===== Sections General ===== */

section{
  padding: 10px;
}
.section-title{
    color: rgb(250, 220, 150);
    font-weight: bold;    
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

.section-title h3::after {
    display: flex;  
    align-items: center;
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: black;
    bottom: 0;
    left: 0;
  }

/* ===== Project Sections ===== */

#project {
    background: white;
    padding: 80px 0;
  }

#project li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(250, 220, 150);
    transition: all 0.3s ease-in-out;
  }
  
#project li:hover, #project li.filter-active {
    color: black;
}
  
.project-item {
    margin-bottom: 30px;
}
  
.project-item .project-info {
    background: rgba(255, 255, 255, 0.85);
    padding: 15px;
    left: 15px;
    right: 15px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 0.3s;

}
  
.project-item h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #333333;
    margin-bottom: 5px;
}
  
.project-item p {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}
  
  #project .preview-link, #project .details-link {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 48px;
    font-size: 20px;
    top: calc(50% - 18px);
    color: #4d4d4d;
  }
  
  #project .preview-link:hover, #project .details-link:hover {
    color: rgb(250, 220, 150);
  }
  
  #project .details-link {
    right: 15px;
  }
 
  #project .project-item:hover .project-info {
    opacity: 1;
  }

/* ===== Current Project Section===== */

  .current-project .featured-text {
    padding: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 992px) {
    .current-project .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid rgb(250, 220, 150);
    }
  }
  
  .text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  footer{
    height: 500px;
  }