
/* ===== Navigation Bar ===== */
nav{
    background-color: #0B0C10;
    height: 70px;
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: blue;
}

/* ===== Navigation Bar ===== */

/* ===== Hero Section ===== */

#hero{
    background: url(./images/Hero_Image.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

/* ===== End Hero Section ===== */

/* ===== About Me Section ===== */
#about {
    height: 50vh;
}


/* ===== End About Me Section ===== */
